@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,700&family=Mulish:ital,wght@0,400;0,600;0,700;0,800;1,800&family=Work+Sans:ital,wght@0,400;0,600;0,800;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Mulish', sans-serif;

}

/* Header section starts here */

.header-section {
    /* margin-bottom: 40px; */
    margin-top: 25px;
}

.nav-container {
    min-height: 20px;
    display: flex;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    width: 50%;
    align-items: center;
}

.logo-container p {
    color: #131318;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.travel {
    color: #FF5400;
    font-weight: 800;
}

.logo-container img {
    width: 48px;
    height: 56.008px;
    /* object-fit: cover; */
}

.items-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.items-container a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

/* Header section ends here */

/* main section start here */

/* banner part */

.banner .banner-heading {
    /* width: 100%; */
    /* height: 600px; */
    width: 1250px;
    height: 500px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(media/banner.png);
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 250px;
    margin: 50px 50px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 1320px;
    /* max-width: calc(100% - 20px); */
    height: auto;
    margin: 0 auto;
}

.banner .banner-heading .text-content h1 {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    /* align-items: center; */
    padding-top: 100px;
    padding-bottom: 24px;
}

.banner .banner-heading .text-content p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 48px;
}

.banner-form {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

/* .form-title {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
} */

/* .form-container {
    width: 174px;
    height: 52px;
    /* flex-shrink: 0; */
    /* display: flex; 
    border-radius: 8px;
    background: #FFF;
} */