@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,700&family=Mulish:ital,wght@0,400;0,600;0,700;0,800;1,800&family=Work+Sans:ital,wght@0,400;0,600;0,800;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Mulish', sans-serif;

}

.menu-icon {
    display: none;
}

.header-section,
main {
    padding: 8rem;
    padding-top: 0;
    padding-bottom: 6rem;
}

.primary {
    color: #ff5400;
}

.form-btn{
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    background: #ff5400;
    color: white;
    align-items: center;
    padding: 1rem 2.5rem;
    box-sizing: border-box;
} 

.btn-primary {
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    background: #ff5400;
    color: white;
    align-items: center;
    padding: 1rem 2.5rem;
    box-sizing: border-box;
    margin-top: 2rem;
    display: inline-block;
    cursor: pointer;

}


/* header section  */

.logo-container {
    font-size: 2.25rem;
    display: flex;
    gap: 1rem;
    color: #131318;
    font-weight: 800;
    margin: 0;
    margin-bottom: 1rem;
}

.logo-container img {
    width: 1em;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.nav-container ul {
    padding: 0;
    display: flex;
    gap: 2rem;
    list-style: none;
    text-align: center;
}

.nav-container ul a {
    text-decoration: none;
    color: #424247;
    font-size: 1.125rem;
    font-weight: 400;
}

/* banner section */
.banner {
    aspect-ratio: 1170/500;
    border-radius: 1rem;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0)), url("../media/banner.png");
    /* display: flex;  */
    align-items: center;
    justify-content: center;
    padding: 0 11.5rem;
    box-sizing: border-box;
}

.banner .text-content {
    text-align: center;
}


.text-content h1 {
    color: #fff;
    font-size: 4rem;
    padding-top: 6rem;
    font-weight: 800;

}

.description {
    padding: 2rem 3rem;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.74);
}

.banner form {
    margin-top: 2rem;
    padding-bottom: 8rem;
    background: rgba(255, 255, 255, 0.3);
    padding: 1rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.banner form * {
    border: 0;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    outline: 0;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    height: 3rem;
}


/* tour section */

.tour-section {
    display: flex;
    align-items: center;
    gap: 8rem;
}

.section-paragraph {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 2rem;

}

.section-last {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 2rem;
}

.section-heading h2 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.tour-section ul {
    padding-left: 1.5rem;
    color: #131318b3;
}

.tour-image {
    width: 100%;
    border-radius: 1rem;
}

/* destination section */

.destination-section {
    margin-top: 6rem;
    text-align: center;
}

.destination-heading h2 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.destination-heading p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 1.5rem;
}

.destination-image-container .image {
    padding: 1rem 2rem;
}

.destination-image-1 {
    display: flex;
    padding: 2rem 2rem;
    margin-right: 2rem;

}

.destination-image-2 {
    display: flex;
    padding: 1.5rem 2rem;

}

.destination-image-3 {
    display: flex;
    padding: 1rem 2rem;

}

.maldiv {
    width: 573px;
    height: 300px;
    margin-right: 10px;

}

.indo {
    width: 573px;
    height: 300px;
    margin-right: 10px;
}

.sril {
    width: 374px;
    height: 286px;
    margin-right: 10px;

}

.north {
    width: 474px;
    height: 286px;
    margin-right: 10px;

}

.kashmir {
    width: 274px;
    height: 286px;
    margin-right: 10px;

}

.bangla {
    width: 473px;
    height: 300px;
    margin-right: 10px;
}

.banda {
    width: 673px;
    height: 300px;
    margin-left: 10px;
}


.destination-image-title {
    position: relative;
    /* bottom: 100%; */
    right: 30%;
    padding: 5rem 2rem;
    transform: translate(-50%, -50%);
    color: rgba(9, 9, 9, 0.9);
    font-size: 1.75rem;
    font-weight: 800;
    margin: 0;
}

/* choose */

.choose {
    margin-top: 4rem;
    text-align: center;
}

.choose-heading h2 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin: 2rem 0 1.5rem;
}

.choose-heading p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.choose-image-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 3rem;
}

.choose-image-section .card {
    width: calc(50% - 1.5rem / 2);
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 2rem;
    text-align: left;
}

.card-title h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.card-title p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* video section */

.video-section {
    padding-top: 100px;
    padding-bottom: 50px;
}

.video-container {
    max-width: calc(100% - 20px);
    height: auto;
    margin: 0 auto;
}

.video-section .content {
    width: 100%;
    height: auto;
    display: flex;
}

.video-section .left-content,
.video-section .right-content {
    flex: 0 0 auto;
    width: 50%;
}

.video-section .left-content {
    padding-right: 53px;
}

.video-section .left-content h3 {
    color: #131318;
    font-family: 'Mulish';
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.video-section .left-content p {
    color: rgba(19, 19, 24, 0.70);
    font-family: "Mulish";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 24px 0;
}

.video-section .left-content ul {
    padding-left: 20px;
}

.video-section .left-content ul li {
    color: rgba(19, 19, 24, 0.70);
    font-family: "Mulish";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    padding-top: 16px;
}

.video-section .right-content {
    height: 424px;
}

.video-section .right-content iframe {
    width: 100%;
    height: 100%;
}

/* extra section */

.form-fillup{
    padding: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 1px solid #ff5400;
  border-radius: 0.5rem;
  margin-top: 4rem;
}
.activities {
    margin-top: 2rem;
    margin-bottom: 1rem;
    
  }
  .activities-title {
    font-size: 2.5rem;
    margin: -60px auto;
    margin-top: 2rem;
  }
  .activities .description {
    width: 70%;
    margin: 1rem 0;
  }
  .activities-card-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
  .activities-card-container img {
    width:50%;
  }
  .activities-card {
    text-align: center;
    border: 1px solid #ff5400;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
  }
  .concern{
    align-items: center;
    color: #ff5400;
    font-weight: 900;
  }

/* newslatter section */

.news-section {
    margin-top: 5rem;
    display: flex;
    gap: 1.5rem;
}

.news-content {
    padding: 2.5rem;
    box-sizing: border-box;
    border-radius: 1rem;
    border: 1px solid #ff5400;

}

.news-content h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.news-content p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.news-letter-content form {
    border-top: 1px solid rgba(19, 19, 24, 0.1);
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.news-content form * {
    border: 0;
    padding: 0.8rem 1.5rem;
    box-sizing: border-box;
    outline: 0;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    background: #ff5400;
    color: white;
}

.news-content form input {
    margin-bottom: 1rem;
    background: rgba(19, 19, 24, 0.05);
}

.news-banner {
    position: relative;
}

.news-banner img {
    width: 100%;
    height: 100%;
}

.discount-container {
    border-radius: 1rem;
    background: #ff5400;
    transform: rotate(-19.628deg);
    display: inline-block;
    padding: 1.4rem 1.8rem;
    position: absolute;
    bottom: 2.7rem;
    right: 0.5rem;
}

.discount-container * {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.discount-container p {
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.discount-container h3 {
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
}

/* footer section */

.container {
    padding: 4rem 15rem;
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
}

.footer-heading {
    /* width: min-content; */
    margin: 0 auto;
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
    color: #131318;
    font-weight: 800;
    margin: 0;
    margin-bottom: 1rem;
    justify-content: center;
}

.footer-description {
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.icon-container {
    margin-top: 1rem;
}

.icon-container a {
    color: #131318;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 1.5rem;

}

.container .icon-container hr {
    background: rgba(19, 19, 24, 0.10);
}

.icon-container p {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 2rem;
}