@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,700&family=Mulish:ital,wght@0,400;0,600;0,700;0,800;1,800&family=Work+Sans:ital,wght@0,400;0,600;0,800;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.menu-icon {
    display: none;
}

.header-section,
main {
    padding: 8rem;
    padding-top: 0;
    padding-bottom: 6rem;
    width: 100% !important;
    height: auto;
}

.primary {
    color: #ff5400;
}

.form-btn {
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    background: #ff5400;
    color: white;
    align-items: center;
    padding: 1rem 2.5rem;
    box-sizing: border-box;
}

.btn-primary {
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    background: #ff5400;
    color: white;
    align-items: center;
    padding: 1rem 2.5rem;
    box-sizing: border-box;
    margin-top: 2rem;
    display: inline-block;
    cursor: pointer;

}


/* header section  */

.logo-container {
    font-size: 2.25rem;
    display: flex;
    gap: 1rem;
    color: #131318;
    font-weight: 800;
    margin: 0;
    margin-bottom: 1rem;
}

.logo-container img {
    width: 1em;
}

.nav-container {
    width: 100%;
    height: 146px;
}

.nav-container .navbar {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container ul {
    padding: 0;
    display: flex;
    gap: 2rem;
    list-style: none;
    text-align: center;
}

.nav-container ul a {
    text-decoration: none;
    color: #424247;
    font-size: 1.125rem;
    font-weight: 400;
}

/* banner section */
.banner {
    /* aspect-ratio: 1170/500; */
    border-radius: 1rem;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0)), url("../media/banner.png");
    /* display: flex;  */
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 11.5rem;
    box-sizing: border-box;
}

.banner .text-content {
    text-align: center;
}


.text-content h1 {
    color: #fff;
    font-size: 4rem;
    padding-top: 6rem;
    font-weight: 800;

}

.description {
    padding: 2rem 3rem;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.74);
}

.banner form {
    margin-top: 2rem;
    padding-bottom: 8rem;
    background: rgba(255, 255, 255, 0.3);
    padding: 1rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.banner form * {
    border: 0;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    outline: 0;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    height: 3rem;
}


/* tour section */

.tour-section {
    display: flex;
    align-items: center;
    gap: 8rem;
}

.section-paragraph {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 2rem;

}

.section-last {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 2rem;
}

.section-heading h2 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.tour-section ul {
    padding-left: 1.5rem;
    color: #131318b3;
}

.tour-image {
    width: 100%;
    border-radius: 1rem;
}

/* destination section */

.destination-section {
    margin-top: 50px;
    /* text-align: center; */
}

.destination-heading h2 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.destination-section .content {
    padding-top: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 1170px;
    margin: 0 auto;
}

.destination-section .content .box {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.destination-section .box .overlay {
    position: absolute;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destination-section .box .overlay p {
    color: #FFF;
    text-align: center;
    font-family: 'Mulish';
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* choose */

.choose {
    margin-top: 4rem;
    text-align: center;
}

.choose-heading h2 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin: 2rem 0 1.5rem;
}

.choose-heading p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.choose-image-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 3rem;
}

.choose-image-section .card {
    width: calc(50% - 1.5rem / 2);
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 2rem;
    text-align: left;
}

.card-title h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.card-title p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* deals and discount */

.deals {
    width: 100%;
    margin-top: 20px;
    margin: 0 auto;
}

.deals h2 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.deals p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.deals-image-1 {
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    background: url('../media/Group\ 39.png');
    margin-top: 20px;
}

.deals-image-2 {
    width: 1170px;
    height: 500px;
    background: url('../media/Group\ 40.png');
    margin-top: 20px;
    border-radius: 16px;
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}

.deals-image-3 {
    width: 1170px;
    height: 500px;
    background: url('../media/Group\ 39.png');
    border-radius: 16px;
    margin-top: 20px;
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}

.deals-content-first {
    width: 579px;
    height: 336px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    /* margin-top: 40px; */
    /* padding-top: 20px; */
    /* padding-right: -40px; */
    margin-bottom: 20px;
    /* padding: -110px 20px; */
    margin-block-end: 20px;
}
.deals-content-first {
    /* align-items: end; */
    padding: 110px 100px;
}
.deals-image-1 .deals-content-first h4 {
    color: #131318;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.deals-content .first  p {
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}


/* video section */

.video-section {
    padding-top: 100px;
    padding-bottom: 50px;
}

.video-container {
    max-width: calc(100% - 20px);
    height: auto;
    margin: 0 auto;
}

.video-section .content {
    width: 100%;
    height: auto;
    display: flex;
}

.video-section .left-content,
.video-section .right-content {
    flex: 0 0 auto;
    width: 50%;
}

.video-section .left-content {
    padding-right: 53px;
}

.video-section .left-content h3 {
    color: #131318;
    font-family: 'Mulish';
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.video-section .left-content p {
    color: rgba(19, 19, 24, 0.70);
    font-family: "Mulish";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 24px 0;
}

.video-section .left-content ul {
    padding-left: 20px;
}

.video-section .left-content ul li {
    color: rgba(19, 19, 24, 0.70);
    font-family: "Mulish";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    padding-top: 16px;
}

.video-section .right-content {
    height: 424px;
}

.video-section .right-content iframe {
    width: 100%;
    height: 100%;
}

/* extra section */

.form-fillup {
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 1px solid #ff5400;
    border-radius: 0.5rem;
    margin-top: 4rem;
}

.activities {
    margin-top: 2rem;
    margin-bottom: 1rem;

}

.activities-title {
    font-size: 2.5rem;
    margin: -60px auto;
    margin-top: 2rem;
}

.activities .description {
    width: 70%;
    margin: 1rem 0;
}

.activities-card-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.activities-card-container img {
    width: 50%;
}

.activities-card {
    text-align: center;
    border: 1px solid #ff5400;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
}

.concern {
    align-items: center;
    color: #ff5400;
    font-weight: 900;
}

/* newslatter section */

.news-section {
    margin-top: 5rem;
    display: flex;
    gap: 1.5rem;
}

.news-content {
    padding: 2.5rem;
    box-sizing: border-box;
    border-radius: 1rem;
    border: 1px solid #ff5400;

}

.news-content h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.news-content p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.news-letter-content form {
    border-top: 1px solid rgba(19, 19, 24, 0.1);
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.news-content form * {
    border: 0;
    padding: 0.8rem 1.5rem;
    box-sizing: border-box;
    outline: 0;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    background: #ff5400;
    color: white;
}

.news-content form input {
    margin-bottom: 1rem;
    background: rgba(19, 19, 24, 0.05);
}

.news-banner {
    position: relative;
}

.news-banner img {
    width: 100%;
    height: 100%;
}

.discount-container {
    border-radius: 1rem;
    background: #ff5400;
    transform: rotate(-19.628deg);
    display: inline-block;
    padding: 1.4rem 1.8rem;
    position: absolute;
    bottom: 2.7rem;
    right: 0.5rem;
}

.discount-container * {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.discount-container p {
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.discount-container h3 {
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
}

/* footer section */

.container {
    padding: 4rem 15rem;
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
}

.footer-heading {
    /* width: min-content; */
    margin: 0 auto;
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
    color: #131318;
    font-weight: 800;
    margin: 0;
    margin-bottom: 1rem;
    justify-content: center;
}

.footer-description {
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.icon-container {
    margin-top: 1rem;
}

.icon-container a {
    color: #131318;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 1.5rem;

}

.container .icon-container hr {
    background: rgba(19, 19, 24, 0.10);
}

.icon-container p {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 2rem;
}